.login{
width:20%;
height:50px;

float:left;
}
.searchBar{
width:60%;
height:50px;

float:left;
}
.profile{
width:20%;
height:50px;

float:left;
}
body{
    margin:0px;
    background: black;
    font-family: Roboto, Arial, sans-serif;
}
.divmenu3{
    width: 20px;
    height: 2px;
    background-color:#9b9b9b;
    margin: 6px ;
    margin-left: 25px ;
    cursor: pointer;
     }
     .divmenu1{
        width: 20px;
        height: 2px;
        background-color:#9b9b9b;
        margin: 6px ;
        margin-left: 25px ;
        margin-top: 25px;
        cursor: pointer;
     }
     .divmenu2{
        width: 20px;
        height: 2px;
        background-color:#9b9b9b;
        margin: 6px ;
        margin-left: 25px ;
        cursor: pointer;
     }
     .divmenu{
        float:left;
     }
     .fa{
        
    color: red;
    margin-left: 22px;
    margin-top: 21px;
    width: 81px;
        float:left;
     }
     .name{
        float: left;
    color: BLACK;
    margin-left: -53px;
    margin-top: 8px;
    font-size: 10px;
        font-family: Roboto, Arial, sans-serif;
    float:left;
     }
     .logo-1{
        float:left;
     }
     .in{
        float:left;
        font-size: 13px;
    font-family: Roboto, Arial, sans-serif;
    
    color:#737373;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
  }
  .searchBar{
    
    
    margin-top: 16px;
    margin-left: 172px;
    font-size: 16px;
    border-radius: 35px;
    padding-left: 27px;
    background: transparent;
    width: 503px;
    height: 42px;
    border-color: #717171;
    outline: none;
    color: BLACK;
    
}
.searchicon{
    background: none;
cursor: pointer;
outline: none;
border: none;
margin-left: -115px;
    margin-top: 11px;
}
.fa{
    color:#717171;
}


  
  