#text{
    

    color:blue;
    font-family: inherit;
}
.title{
    margin-left: 650px;
    margin-top: 100px;
}
.username{
    
    margin-left: 10px;
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.passWord{
    
    margin-left: 10px;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.border{
    width:300px;
    height:300px;
    border:1px solid;
    margin-left:600px;
    margin-top:10px;
}
.login{
    margin-top: 50px;
    margin-left: 120px;
}
.forgot{
    margin-left: 10px;
    
}
.new-one{
    margin-left: 10px;
    margin-top:1px
   
}